#.env

# =============================================================================================
# 📄 Ejemplo de archivo .env para la configuración del sistema IoT (Docker)
# 🚫 Este archivo NO debe contener información confidencial.
# 📝 Cópialo como ".env" y reemplaza los valores con tus datos reales para iniciar tu sistema.
# =============================================================================================

# -------------------- 🗄️ Configuración de la Base de Datos PostgreSQL --------------------

PG_DB=deauth_alerts                     # 📝 Escribe aquí el nombre de tu base de datos
PG_USER=your_username                   # 👤 Usuario con permisos sobre la base de datos
PG_PASSWORD=your_secure_password        # 🔐 Contraseña segura para acceder a PostgreSQL
PG_HOST=deauth_postgres                 # 🐳 Nombre del contenedor PostgreSQL en Docker
PG_PORT=5432                            # 📍 Puerto de PostgreSQL (por defecto es 5432)
