#backend\src\requirements.txt

fastapi[all]        # Framework principal + WebSockets + CORS
uvicorn             # Servidor ASGI para FastAPI
psycopg2            # Driver PostgreSQL
python-dotenv       # Carga de variables desde .env
sqlalchemy          # ORM para base de datos
pydantic            # Validación de datos con Python
python-jose         # Para tokens JWT (firma y decodificación)
passlib[bcrypt]     # Hashing seguro de contraseñas
