#/docker/.env.example

# Configuración de la Base de Datos PostgreSQL en Docker
# Copia este archivo como ".env" y reemplaza los valores con los datos reales.  

"""
cd ~/GitHub/Deauth-Alert-WiFi-IoT-System/docker
cp .env.example .env

"""

PG_DB=deauth_alerts              # Nombre de la base de datos
PG_USER=your_username            # Usuario de PostgreSQL
PG_PASSWORD=your_secure_password # Contraseña segura para PostgreSQL
PG_HOST=deauth_postgres          # Nombre del contenedor PostgreSQL en Docker
PG_PORT=5432                     # Puerto donde corre PostgreSQL (por defecto 5432)
