#/docker/.env.example

# ====================================================================
# Ejemplo de archivo .env para la configuración del sistema
# Este archivo NO debe contener información confidencial.
# Cópialo como ".env" y reemplaza los valores con tus datos reales.
# ====================================================================

# ========================
# Configuración de PostgreSQL
# ========================
PG_DB=deauth_alerts              # Nombre de la base de datos
PG_USER=your_username            # Usuario de PostgreSQL
PG_PASSWORD=your_secure_password # Contraseña segura para PostgreSQL
PG_HOST=deauth_postgres          # Nombre del contenedor PostgreSQL en Docker
PG_PORT=5432                     # Puerto donde corre PostgreSQL (por defecto 5432)

# ========================
# Configuración de AWS IoT Core MQTT
# ========================
MQTT_ENDPOINT=your-endpoint-ats.iot.your-region.amazonaws.com  # Tu Endpoint MQTT de AWS IoT Core
MQTT_CLIENT_ID=Your-RaspberryPi-Client                         # ID del cliente MQTT (puede ser cualquier nombre único)
MQTT_TOPIC=test/topic                                          # Tópico MQTT donde se publicarán las alertas
MQTT_ROOT_CA=src/certs/AmazonRootCA1.pem                       # Ruta del certificado raíz
MQTT_CERT_FILE=src/certs/your-certificate.pem.crt              # Ruta del certificado de tu dispositivo
MQTT_KEY_FILE=src/certs/your-private.pem.key                   # Ruta de la clave privada de tu dispositivo

# ========================
# Telegram Bot Configuration
# ========================
TELEGRAM_BOT_TOKEN=your_telegram_bot_token  # Token de tu bot de Telegram
TELEGRAM_CHAT_ID=your_telegram_chat_id     # ID del chat de Telegram donde se enviarán los mensajes

# ========================
# Ejemplo de Uso
# ========================
# cd ~/GitHub/Deauth-Alert-WiFi-IoT-System/docker
# cp .env.example .env

